<ion-header>
  <ion-toolbar color="primary">
    <ion-title>News</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" routerDirection="root">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cardsize">
  <ion-card *ngIf = "role">
    <ion-card-header>
      <ion-card-title>
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>


<ion-button (click) = "presentAlertPrompt()">Add news</ion-button>
    </ion-card-content>

  </ion-card>
  <ion-card text-center *ngFor="let item of news | async">
    <ion-card-header>
      <ion-card-title>
        {{ item.title }}

      </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <b>{{ item.description }}</b>



    </ion-card-content>

  </ion-card>




</ion-content>
