<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Booking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="blog">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Blog</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scorecard">
      <ion-icon name="add"></ion-icon>
      <ion-label>Scorecard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mybookings">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>My bookings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>