
ion-col{
    font-size: 1.6vw;
    border-color: black; 
  border-width: .01em; 
  border-style:solid; margin-bottom : -1px;
  background-color: rgb(233, 231, 231)
    }
    ion-grid{
        width : 100%;
        }
    ion-input{
        width:100%;
        // font-size: 2vw;
    //     border-color: black; 
    //   border-width: 100%; 
    //   border-style:solid; margin-bottom : -1px;
    //   background-color: rgb(233, 231, 231)
        }
 .smalltext {
    font-size:1vw;
}
.toptable {
    background-color: rgb(250, 248, 248)}
.color1 {
        background-color: rgb(180, 204, 233)}
.color2 {
        background-color: rgb(231, 201, 193)}
.color3 {
        background-color: rgb(217, 219, 223)}
.color4 {
            background-color: rgb(242, 243, 211)}