<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Blog</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" routerDirection="root">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card routerLink="/news" class="cardsize">
    <ion-card-header>
      <ion-card-title>
        News

      </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Read the latest news here



    </ion-card-content>

  </ion-card>

  <ion-card routerLink="/reviews" class="cardsize">
    <ion-card-header>
      <ion-card-title>
        Reviews

      </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      See some of our reviews here


    </ion-card-content>

  </ion-card>
  <ion-card routerLink="/courses" class="cardsize">
    <ion-card-header>
      <ion-card-title>
        Courses

      </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      See more detail about our course layout


    </ion-card-content>

  </ion-card>

  <ion-card routerLink="/aboutus" class="cardsize">
    <ion-card-header>
      <ion-card-title>
        About Us

      </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      See About us


    </ion-card-content>

  </ion-card>

</ion-content>