<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Us</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" routerDirection="root">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cardsize">

  <ion-card text-center *ngFor="let item of aboutus | async">
    <ion-card-header>
      <ion-card-title>
        <img class="myimg" src="assets/imgs/about.jpg" alt="your image">
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <b>{{ item.description }}</b>



    </ion-card-content>

  </ion-card>




</ion-content>
