<ion-header>
  <ion-toolbar>
    <ion-title>My Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card text-center *ngFor="let booking of bookings | async">
    <ion-card-header>
      <ion-card-title>
        {{booking.course}}
      </ion-card-title>

     
    </ion-card-header>

    <ion-card-content>
     <ion-item>Start: {{booking.startTime?.seconds*1000 | date: 'dd/MM/yyyy H:mm' }}</ion-item> 
    <ion-item> End: {{booking.endTime?.seconds*1000 | date: 'dd/MM/yyyy H:mm' }}</ion-item>
    </ion-card-content>

  </ion-card>
</ion-content>
